/* Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
/* Montserrat Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Reset Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins",
        Helvetica,
        Arial,
        sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 4.5rem;
    font-weight: 900;
    color: $nexgen_text_dark;
    line-height: 5.5rem;
    margin: 0.5rem 0 1.5rem 0;
}

h3 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 5.5rem;
}

h4 {
    font-size: 1.7rem;
    font-weight: 700;
}

h5 {
    font-size: 1.4rem;
    font-weight: 700;
}

.container {
    /* width: 1560px; */
    width: 60%;
    margin: auto;
}

.d_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_green,
.btn_green_outline {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    font-size: 1.1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.btn_green {
    background-color: $nexgen_primary_green;
    color: #fff;
}

.btn_green_outline {
    border: 1px solid $nexgen_primary_green;
    color: $nexgen_primary_green;
}

.col {
    width: 50%;
}

.section_title {
    color: #00A6A6;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
}

.title_bg {
    border-radius: 5px;
    padding: 0 0.8rem;
}